/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/uno -profile test_full,conda --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

     // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data for full size test
    // TODO nf-core: Specify the paths to your full test data ( on nf-core/test-datasets or directly in repositories, e.g. SRA)
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    /*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/uno Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/
    // TODO nf-core: Specify your pipeline's command line flags
    // Input options
    input                      = "${projectDir}/test/samplesheet_test.csv"
    
    // References
    genome                     = null
    igenomes_base              = 's3://ngi-igenomes/igenomes/'
    igenomes_ignore            = false
    
    //MIDAS2 options
    midas2_uhgg_db                 = "$HOME/ah_stool_samples/my_midasdb_uhgg"
    save_midas2_uhgg_db            = false
    skip_midas2                    = false
    midas2_snps_select_by = 'median_marker_coverage,unique_fraction_covered'
    midas2_median_marker_coverage  = '1'
    midas2_unique_fraction_covered = '0.2'
    
    //trimming_reference
    adapter_seqeunce = "${projectDir}/assets/TruSeq3-PE.fa"
    
    //host_removal_options
    skip_host_removal                    = null
    host_fasta                           = null
    host_genome                          = 'GRCh38'
    host_removal_verysensitive           = false
    host_removal_save_ids                = false
    save_hostremoved_reads               = false
    
    //assembly_options
    coassemble_group                     = true
    megahit_options                      = "--presets meta-large"
    
    // binning options
    bowtie2_mode                         = null
    binning_map_mode                     = 'group'
    save_assembly_mapped_reads           = true
    skip_binning                         = false
    min_contig_size                      = 1500
    min_length_unbinned_contigs          = 1000000
    max_unbinned_contigs                 = 100
    refine_bins_dastool                  = true
    refine_bins_dastool_threshold        = 0.1 
    postbinning_input                    = 'refined_bins_only' 
      
    //Bin QC
    skip_binqc                           = false
    checkm_download_url                  = "https://data.ace.uq.edu.au/public/CheckM_databases/checkm_data_2015_01_16.tar.gz"
    checkm_db                            = null
    save_checkm_data                     = false

    // Reproducibility options
    megahit_fix_cpu_1                    = false
    spades_fix_cpus                      = -1
    spadeshybrid_fix_cpus                = -1
    metabat_rng_seed                     = 1    

}
